.mr-top{
	padding-top: 50px;
}
#nav{
	background: black;
}
.conten{
	background: black;
}
.logo{
	width: 250px;
	height: 130px;
	margin-left: 20px;
}
.navbar{
	padding: 3px;
}
.nav-item{
	margin-top: 60px;
	margin-left:20px;
	padding: 10px;
	font-size: 22px;
}
.navbar-brand{
	margin-left: -20px;
	font-size: 50px;
	font-weight: bold;
	font-style: italic;
}
.nav-item a:hover{
	font-weight: bold;
	background-color: blue;
}
.mr-slide{
	margin-top: 10px;
}
.mr-top{
	margin-top: 50px;
}
.cont-cont{
	background: black;
}
.fa-desktop,.fa-cogs,.fa-search,.fa-cart-plus,.fa-code,.fa-android {
	width: 150px;
	height: 150px;
	border-radius: 90px;
	background-color: grey;
	padding:50px;
	color: white;
	font-size: 50px;
}
a .fa-desktop:hover{background: #cc7a00;}a .fa-cogs:hover{background: #cc7a00;}a .fa-search:hover{background: #cc7a00;}
a .fa-cart-plus:hover{background: #cc7a00;}a .fa-code:hover{background: #cc7a00;}a .fa-android:hover{background: #cc7a00;}
h3{
	color: #f6a800;
	font-family: 'open_sanslight';
    font-size: 25px;
}
p{
	font-size: 16px;
    font-family: 'open_sansregular';
    line-height: 1.6em;
}
a{
	color: #f6a800;
	font-family: 'open_sansregular';
}
.cont-img{
	height: 280px;
}









